<div class="flex h-full items-center justify-center">
  <div class="bg-card text-card-foreground mb-40 rounded-xl border shadow">
    <form [formGroup]="formulario">
      <div class="flex flex-col space-y-1 p-6">
        <h3 class="text-2xl font-semibold tracking-tight">
          Crie a sua conta aqui
        </h3>
        <p class="text-muted-foreground text-sm">
          Digite seu e-mail abaixo para criar sua conta
        </p>
      </div>

      <div class="grid gap-4 p-6 pt-0">
        <div class="grid gap-2">
          <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="nome">Nome</label><input
            class="border-input bg-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-9 w-full rounded-md border px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50"
            id="nome" [class.border-red-500]="aplicarErro('nome')" formControlName="nome" placeholder="John Cena"
            type="text" />
        </div>

        <div class="grid gap-2">
          <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="email">Email</label><input
            class="border-input bg-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-9 w-full rounded-md border border-red-500 px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50"
            id="email" [class.border-red-500]="aplicarErro('email')" formControlName="email"
            placeholder="johncena@example.com" type="email" />
        </div>

        <div class="grid gap-2">
          <label class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
            for="senha">Senha</label>
          <input
            class="border-input bg-background placeholder:text-muted-foreground focus-visible:ring-ring flex h-9 w-full rounded-md border px-3 py-1 text-sm shadow-sm transition-colors file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:outline-none focus-visible:ring-1 disabled:cursor-not-allowed disabled:opacity-50"
            id="senha" [class.border-red-500]="aplicarErro('senha')" type="password" formControlName="senha"
            placeholder="********" />
        </div>
      </div>

      <div class="flex items-center p-6 pt-0">
        <button (click)="criarConta()" type="button"
          class="btn-primary bg-stone-800 text-white transition delay-75 ease-linear hover:bg-stone-950 dark:bg-white dark:text-black">
          Criar conta
        </button>
      </div>
    </form>
  </div>
</div>