<h1 mat-dialog-title>Contas</h1>
<div mat-dialog-content>
   <div class="text-center" *ngIf="!data.accounts.lenght">
      <p>Não há contas cadastradas.</p>
      <div class="flex items-center justify-center">
         <mat-form-field appearance="outline">
            <mat-label>Outline form field</mat-label>
            <input matInput placeholder="Placeholder" />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>Hint</mat-hint>
         </mat-form-field>
         <button
            (click)="addConta()"
            mat-mini-fab
            color="primary"
            aria-label="Example icon button with a menu icon">
            <mat-icon>add</mat-icon>
         </button>
      </div>
   </div>
</div>
