@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
   height: 100%;
}

body {
   margin: 0;
}

* {
   font-family: DM Sans, ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
      sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
      Noto Color Emoji;
}

p {
   margin: 0;
}

::ng-deep .mat-h1,
::ng-deep .mat-headline-5,
::ng-deep .mat-typography .mat-h1,
::ng-deep .mat-typography .mat-headline-5,
::ng-deep .mat-typography h1 {
   font-weight: bold !important;
}

.text-primary {
   color: #f59e0b;
}

@layer components {
   .btn-primary {
      @apply inline-flex h-9 w-full items-center justify-center text-clip rounded-md px-4 py-2 text-sm font-medium;
   }
}

.bg-primary {
   background-color: #f59e0b;
}

.bg-primary-500 {
   background-color: #f59e0b;
}

.bg-primary-500 {
   background-color: #f59e0b;
}

.bg-primary-fraco {
   background-color: #353532;
}